.primary_btn {
  padding: 18px 10px;
  color: white;
  background-color: black;
  min-width: 220px;
  border-radius: 5px;
  display: flex;
  gap: 8px;
  align-items: center;
  font-size: 15px;
  justify-content: center;
}

.outline_btn {
  padding: 18px 10px;
  border: 1px solid black;
  color: black;
  background-color: white;
  min-width: 220px;
  border-radius: 5px;
  display: flex;
  gap: 8px;
  align-items: center;
  font-size: 15px;
  justify-content: center;
  width: 100%;
}

